<% if session[:cart] %>
<h4><ul><% session[:cart].each do |product|%>
    <li><%= product %></li>
<% end %>
</ul></h4>
<% end %>

<form method="post" action= "/products/add">
  <input name='product'>
  <input type='submit' value='add to cart'>
</form> 
